<div class="user-menu">

  <%# User profile iamge with notification bubble and dropdown %>
  <div class="profile-settings">

    <%# Image with notification bubble %>
    <div class="user-image">
      <% if current_user_profile_pic.attached? %>
        <div class="profile-pic">
          <%= cl_image_tag current_user_profile_pic.key, crop: :scale, width: 30, cloud_name: 'sazza' %>
        </div>
      <% else %>
        <div class="placeholder-profile-pic"><span class="material-icons"> tag_faces </span></div>
      <% end %>

      <div class="notification-bubble"></div>
    </div>

    <%# Chevron to show dropdown state %>
    <figcaption class="material-icons"> expand_more </figcaption>
  </div>

  <%# dropdown menu %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item separator">
        <div>Signed in as</div>
        <div class="name"><%="#{current_user.first_name} #{current_user.last_name}"%></div>
      </div>

      <%# only owners have profile pages so view profile menu item only rendered for owners %>
      <% if current_user.has_role? :owner %>
        <%= link_to "View Profile", users_show_path(current_user), class: "dropdown-item separator" %>
      <% end %>

      <%# only render the messages menu item if the user has made a chatroom with an owner %>
      <% unless current_user_chatrooms.empty? %>
        <%= link_to "Messages", current_user_chatrooms.order(updated_at: :desc).first, method: :get, class: "dropdown-item separator"%>
      <% end %>

      <%= link_to "Account", edit_user_registration_path, method: :get, class: "dropdown-item"%>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item signout-padding"%>
    </div>
  </div>
</div>
