<%= link_to users_show_path(user), class: "user-card" do %>
    <span class="pic-name-printer">
      <span>
        <%= render partial: 'shared/profile_pic', locals: { user: user } %>
      </span>
      <span>
        <p> <%= user.public_name %></p>

        <% if user.has_role? :owner %>

              <p> <%= "#{user.printers[0].printer_brand} #{user.printers[0].printer_model} (#{user.printers[0].printer_type})" %></p>
              <% if user.printers.length > 1 %>
                <p class="other-printers"> <%= "+#{user.printers.length - 1} others"%></p>
              <% end %>
            </span>
          </span>
          <span>
            <%= user.suburb_and_postcode %>
          </span>
          <%= render partial: 'shared/star_rating', locals: { user: user } %>
        <% end %>
    </span>
<% end %>