<%# card to display user details %>
<div class="user-card">
    <span class="pic-name-printer">
      <span>
        <%= render partial: 'shared/profile_pic', locals: { user: user } %>
      </span>
      <span>
        <p> <%= user.public_name %></p>

        <%# if the user is an owner, display their printer, star rating, and location details %>
        <% if user.has_role? :owner %>

              <p> <%= "#{user.printers.first.printer_brand} #{user.printers.first.printer_model} (#{user.printers.first.printer_type})" %></p>
              <% if user.printers.length > 1 %>
                <p class="other-printers"> <%= "+#{user.printers.length - 1} others"%></p>
              <% end %>
            </span>
          </span>
          <span>
            <%= user.suburb_and_postcode %>
          </span>
          <%= render partial: 'shared/star_rating', locals: { average_rating: user.average_rating, reviews: user.reviews } %>
        <% end %>
    </span>
</div>
