<%= cl_image_tag "https://res.cloudinary.com/sazza/image/upload/v1621583328/hero_image_xqfmbm.png", crop: :scale, width: 1080, cloud_name: 'sazza', style: "width: 100vw; position: absolute; z-index: -100;" %>
<div style="background-color: black; width: 220px; height: 300px; display: flex; justify-content: center; align-items: center;">
  <%= cl_image_tag "https://res.cloudinary.com/sazza/image/upload/v1621586175/print3d_logo_white_erl3fm.svg", crop: :scale, width: 200, cloud_name: 'sazza' %>
</div>

<%= render partial: 'shared/address_search', locals: { default_address: @address } %>

<div>
Owners
  <% @nearby_owners.each do |owner| %>
    <div>
      <%= owner.first_name %>
    </div>
  <% end %>
</div>


<% full_stars = 3 %>
<% fraction_star = 0.4 %>

<span class="rating-stars">
    <% full_stars.times do |i| %>
      <span class="material-icons full-star">star</span>
    <% end %>

    <% unless fraction_star.zero? %>
      <span class="fraction-star">
        <div class="material-icons base-star">star</div>
        <div class="top-star-container" style="width: calc(var(--star-size) * <%= fraction_star %>);">
          <div class="material-icons top-star">star</div>
        </div>
      </span>
    <% end %>

    <% (5 - (full_stars + fraction_star.ceil)).times do |i| %>
      <span class="material-icons grey-star">star</span>
    <% end %>
  </span>