<%= javascript_pack_tag 'registrations_edit' %>

<%# page navigated to via the 'account' menu item in the profile dropdown %>
<div class="registrations-edit">
  <div class="pic-name-printers">
    <div class="pic-and-edit-container">
      <%= render partial: 'shared/profile_pic', locals: { user: current_user } %>

      <%# form for editing the profile pic, javascript handles automatic submission upon choosing a picture %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "profile-pic-edit", method: :put }) do |f| %>
        <div>
          <%= f.file_field :profile_pic %>
          <%= f.submit name: "profile_pic_submit"%>

          <%# span with edit icon overlaps file field and submit buttons, javascript links span to file field button %>
          <span id="edit-profile-pic-icon" class="material-icons">edit</span>
        </div>
      <% end %>
    </div>

    <h1>
      <%= current_user.public_name %>
    </h1>


    <div class="printers-filaments-div">
      <div class="printer-filament-list">

        <%# if user isnt an owner, display a call to action to become an owner %>
        <% if !(current_user.has_role? :owner)%>
          <p class="call-to-action-question">
            Do you own a 3d printer?
          </p>
          <%# when clicked, javascript displays the address field in the user form %>
          <%= button_tag "Start printing and selling now", type: "button", class: "btn btn-primary print-sell-button", id: 'owner_button' %>
        <% else %>

          <%# display user's printers %>
          <h5> Printers: </h5>
          <% current_user.printers.each do |printer| %>
            <%= render partial: 'shared/printer_card', locals: { printer: printer } %>
          <% end %>
        <% end %>
      </div>

      <%# if user is an owner, display an add button so user can add a printer to their profile %>
      <% if (current_user.has_role? :owner)%>
        <%= button_to new_printer_path, class: "btn add-button", method: :get do %>
          <span class="material-icons">add</span>
        <% end %>
      <% end %>
    </div>

  </div>

  <%# main user details form %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="main-form-fields">
        <h2>Your 
          <% if current_user.has_role? :owner %>
            Owner
          <% else %>
            Maker
          <% end %>
        Account</h2>

        <%# devise user details fields %>

      <div id="name">
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </div>

        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </div>
      </div>

      <div id="email-nickname">
        <div class="field email-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field nickname-field">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
          <i><small>*first name if empty</small></i>
        </div>
      </div>

      <div id="address-save">
        <%# address field hidden unless user is an owner or javascript displays %>
        <div id="account-address-field" style="display: <%= current_user.has_role?(:owner) ? '' : 'none' %>">
          <%= render partial: 'shared/address_field', locals: { form: f, default_address: current_user.address } %>
        </div>

        <div class="actions">
          <%= f.submit "Save Changes" %>
        </div>
      </div>


        <h2> Update Password </h2>

        <%# devise passowrd update fields %>

        <div id="old-new">
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br/>
              <i><small><%= @minimum_password_length %> characters minimum</small></i>
            <% end %>
          </div>

          <div class="field confirmation-field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div id="current-save">
          <div class="field">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            <i><small>*we need your current password to confirm password update</small></i>
          </div>

          <div class="actions">
            <%= f.submit "Save Changes" %>
          </div>
        </div>

      <% end %>

      <p><%= link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>

    <%# if the user is an owner, display their filaments with buttons to add and delete filaments %>
    <% if (current_user.has_role? :owner)%>
      <div class="printers-filaments-div filaments">
          <div class="printer-filament-list">
              <h5> Filaments & Resins: </h5>
              <% current_user.filaments.each do |filament| %>
                <%= render partial: 'shared/filament_card', locals: { filament: filament } %>
              <% end %>
          </div>

          <%= button_to new_filament_path, class: "btn add-button", method: :get do %>
            <span class="material-icons">add</span>
          <% end %>
        </div>
      <% end %>
  
</div>
