<%= javascript_pack_tag 'registrations_edit' %>

<div class="registrations-edit">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="pic-name-printers">
      <%= render 'shared/profile_pic'%>


      <div>
        <%= f.file_field :profile_pic %>
        <span class="material-icons">edit</span>
      </div>


      <% if current_user.nickname %>
        <h1>
          <%= current_user.nickname %>
        </h1>
      <% else %>
        <h1>
            <%= current_user.first_name %>
        </h1>
      <% end %>

      <div class="printers">
        <% if !(current_user.has_role? :owner)%>
          <p>
            Do you own a 3d printer?
          </p>
          <%= button_tag "Start printing and selling now", type: "button", class: "btn btn-primary", id: 'owner_button' %>
        <% else %>
          <div>
            list of printers go here
          </div>
        <% end %>
      </div>
    </div>

    <div class="main-form-fields">
        <h2>Your 
          <% if current_user.has_role? :owner %>
            Owner
          <% else %>
            Maker
          <% end %>
        Account</h2>

        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :nickname %><br />
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br/>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div id="account-address-field" style="display: <%= current_user.has_role?(:owner) ? '' : 'none' %>">
          <%= render partial: 'shared/address_field', locals: { form: f, default_address: current_user.address } %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
          <%= f.hidden_field :suburb_and_postcode %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Save Changes" %>
        </div>
      <% end %>

      <p><%= link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
</div>
