<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <% if current_user.profile_pic.attached? %>
    <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden">
      <%= cl_image_tag current_user.profile_pic.key, crop: :scale, width: 200, cloud_name: 'sazza' %>
    </div>
  <% else %>
    <div style="border: 1px solid black; width: 200px; height: 200px; border-radius: 50%;">
    </div>
  <% end %>

  <div>
    <%= f.file_field :profile_pic %>
    <span class="material-icons">edit</span>
  </div>


  <% if current_user.nickname %>
    <h1>
      <%= current_user.nickname %>
    </h1>
  <% else %>
    <h1>
        <%= current_user.first_name %>
    </h1>
  <% end %>

  <h2>Your 
    <% if current_user.has_role? :owner %>
      Owner
    <% else %>
      Maker
    <% end %>
  Account</h2>


  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <% if current_user.has_role? :owner %>
    <%= render partial: 'shared/address_field', locals: { form: f, default_address: current_user.address } %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>

<p><%= link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
