<%# logo and hero image %>
<div id="logo-hero-image">
  <%= cl_image_tag "https://res.cloudinary.com/sazza/image/upload/v1621583328/hero_image_xqfmbm.png", crop: :scale, width: 1080, cloud_name: 'sazza', style: "width: 100vw; position: absolute; z-index: -100;" %>
  <div class="logo-div">
    <%= cl_image_tag "https://res.cloudinary.com/sazza/image/upload/v1621586175/print3d_logo_white_erl3fm.svg", crop: :scale, width: 150, cloud_name: 'sazza' %>
  </div>
</div>

<%# if the user is logged in, show the address search bar otherwise provide a call to action that links to the sign up page %>
<% if current_user %>

  <div class="search-bar">
    <%= render partial: 'shared/address_search', locals: { default_address: params[:address] } %>
  </div>

  <div class="search-results">
    <% @nearby_owners.each do |owner| %>
      <% unless owner.printers.length.zero? || owner == current_user %>
        <%= link_to users_show_path(owner) do %>
          <%= render partial: 'shared/user_card', locals: { user: owner } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="landing-text">
    <p class="society-text">3D Printing Society</p>
    <p class="connect-text">Connect with 3D printers in your community</p>

    <%= link_to 'Join The Community Now', new_user_registration_path, class: "join-community-button" %>
  </div>
<% end %>
